.App {
  background-color: #282c34;
min-height: 100vh;
  text-align: center;
    justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} 

.navbar {
  font-style: italic;
  padding: 40px 600px 50px 500px;
}

.navbar a:hover {
  border-bottom: 3px solid lightblue;
}

h1{
  padding-top: 30px;
  padding-bottom: 20px;
  color: blue;
}

form{
  padding-top: 30px;
}

input {
  width: 15% !important;
  margin-right: 0.25em!important;
  margin-left: 0.25em!important;
  
}
.table{
  padding: 80px;
  padding-left: 300px;
  padding-right: 300px;
  }

h3{
  color: blue;
}

.clear{
  padding-top: 10px;
}
.btn-done{
background-color: lightblue;
}